<!-- HTML Fixes -->
{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/servicios.css') }}">
{% endblock %}

{% block body %}
    <!-- Servicios Técnicos - Terminaciones -->
    <div class="container-qr">
        <div class="title-badge">
            <div class="line"></div>
            <div class="this-stuff">
                <h2 class="title-section">Servicios Técnicos</h2>
                <p class="slogan-section">Terminaciones</p>
            </div>
        </div>
        
        <div class="info-cont-stuff">
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://img.freepik.com/vector-premium/icono-bano-sanitario-icono-vector-bano-sanitario-contorno-diseno-web-aislado-sobre-fondo-blanco_96318-40192.jpg" alt="Sanitaria">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">SANITARIA</h3>
                            <p class="text-box">Plomeria General, Contra-incendio.</p>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://st2.depositphotos.com/3268541/8122/v/450/depositphotos_81223150-stock-illustration-open-door-icon.jpg" alt="Puertas">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">PUERTAS</h3>
                            <p class="text-box">Todo tipo de puertas.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.freepik.com/512/939/939584.png" width="40px" height="40px" alt="Carpintería">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">CARPINTERÍA</h3>
                            <p class="text-box">Aluminio y vidrios, ventanas.</p>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://marketplace.canva.com/eA2ok/MAE-aseA2ok/1/tl/canva-bathroom-icon-MAE-aseA2ok.png" alt="Baño">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">SISTEMA DE BAÑO</h3>
                            <p class="text-box">Griferías, inodoros, accesorios.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/3485/3485470.png" width="40px" height="40px" alt="Electricidad">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">ELECTRICIDAD</h3>
                            <p class="text-box">Instalaciones de electricidad en general.</p>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS917AnG-30pn7-4XBzSNnTfPx1Vt8w_tfbCQ&s" alt="Cocina">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">COCINA</h3>
                            <p class="text-box">Nacional e internacional.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://static.thenounproject.com/png/4497719-200.png" width="40px" height="40px" alt="Steelframing">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">SISTEMA STEELFRAMING</h3>
                            <p class="text-box">Fachadas metálicas ventiladas.</p>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/259/259662.png" alt="Porcelanato">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">PORCELANATO</h3>
                            <p class="text-box">Todo tipo de revestimiento.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://static.vecteezy.com/system/resources/previews/009/948/023/non_2x/marble-drawing-material-icon-outline-illustration-vector.jpg" width="40px" height="40px" alt="Mármol">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">MÁRMOL</h3>
                            <p class="text-box">Mármol importado.</p>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/46/46557.png" alt="Pintura">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">PINTURA</h3>
                            <p class="text-box">Variedad de colores y pintura de alta calidad.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/2460/2460777.png" width="40px" height="40px" alt="Ascensores">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">ASCENSORES</h3>
                            <p class="text-box">Instalación de ascensores.</p>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/4631/4631506.png" alt="Hormigones">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">HORMIGONES</h3>
                            <p class="text-box">Variedad de colores y hormigones de alta calidad.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbR2wMV5tnuwPNZuUHJolk47X6_Nb8V2bhzw&s" alt="Varillas">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">VARILLAS</h3>
                            <p class="text-box">Varillas de acero.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Servicios Técnicos - Instalaciones y Estructuras -->
    <div class="container-qr">
        <div class="title-badge">
            <div class="line"></div>
            <div class="this-stuff">
                <h2 class="title-section">Servicios Técnicos</h2>
                <p class="slogan-section">Instalaciones y Estructuras</p>
            </div>
        </div>
        
        <div class="info-cont-stuff">
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/3485/3485470.png" alt="Electricidad">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">ELECTRICIDAD</h3>
                            <p class="text-box">Instalaciones de electricidad en general.</p>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt-0vlUlXPAAOuJPODMtNPa62VL5OPL2gYOg&s" alt="Acero">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">ACERO</h3>
                            <p class="text-box">Fachadas metálicas ventiladas.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/1207/1207273.png" width="40px" height="40px" alt="Cemento">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">CEMENTO</h3>
                            <p class="text-box">Calidad y estructura.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Colaboradores y Red -->
    <div class="container-number-1">
        <div class="title-badge">
            <div class="line-cr"></div>
            <div class="this-stuff">
                <h2 class="title-section">Colaboradores y Red</h2>
            </div>
        </div>
        
        <div class="info-cont-stuff">
            <div class="firt-part">
                <div class="content-box-square">
                    <div class="cont-column-box">
                        <div class="icon-part-number">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2Qs8GMndijgA8VW41V6OgzROkqk9gwzOtuQ&s" alt="Alianzas">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box-number">ALIANZAS CON CONSTRUCTORAS GRANDES.</h3>
                        </div>
                    </div>
                </div>
                
                <div class="content-box-square">
                    <div class="cont-column-box">
                        <div class="icon-part-number">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/8068/8068070.png" alt="Red">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box-number">RED CURADA DE SUPLIDORES CON HISTORIAL COMPROBADO.</h3>
                        </div>
                    </div>
                </div>
                
                <div class="content-box-square">
                    <div class="cont-column-box">
                        <div class="icon-part-number">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNs6ZAu1R4anKm_j545O6jGuH2na4cvsJrrA&s" alt="Evaluación">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box-number">EVALUACIÓN POR DESEMPEÑO: PRECIO, PUNTUALIDAD, GARANTÍA Y POSTVENTA.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Metodología de Trabajo -->
    <div class="container-number-2">
        <div class="title-badge">
            <div class="line-cr"></div>
            <div class="this-stuff">
                <h2 class="title-section">Metodología de Trabajo</h2>
            </div>
        </div>
        
        <div class="info-cont-stuff">
            <div class="firt-part">
                <div class="content-box-square">
                    <div class="cont-column-box">
                        <div class="icon-part-number">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2Qs8GMndijgA8VW41V6OgzROkqk9gwzOtuQ&s" alt="Diagnóstico">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box-number">DIAGNÓSTICO</h3>
                            <p class="text-box">Levantamiento y objetivo de la obra.</p>
                        </div>
                    </div>
                </div>
                
                <div class="content-box-square">
                    <div class="cont-column-box">
                        <div class="icon-part-number">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/8068/8068070.png" alt="Curaduría">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box-number">CURADURÍA</h3>
                            <p class="text-box">Selección de suplidores y comparativos.</p>
                        </div>
                    </div>
                </div>
                
                <div class="content-box-square">
                    <div class="cont-column-box">
                        <div class="icon-part-number">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNs6ZAu1R4anKm_j545O6jGuH2na4cvsJrrA&s" alt="Planificación">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box-number">PLANIFICACIÓN</h3>
                            <p class="text-box">Cronograma, presupuesto y hitos.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="second-part">   
                <div class="content-box-square">
                    <div class="cont-column-box">
                        <div class="icon-part-number">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPapG0GLV0DqdPh72IAbbIiz5yoO6rZRqxTw&s" alt="Ejecución">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box-number">EJECUCIÓN</h3>
                            <p class="text-box">Coordinación diaria y control de calidad.</p>
                        </div>
                    </div>
                </div>
                
                <div class="content-box-square">
                    <div class="cont-column-box">
                        <div class="icon-part-number">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR68jGcB4orTTr4z0LFUiCormHzOeqPbIS9_w&s" alt="Cierre">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box-number">CIERRE</h3>
                            <p class="text-box">Entrega, punch list y garantías.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--¿Cómo controlo la obra?-->
    <div class="container-number-3">
        <div class="title-badge">
            <div class="line-cr"></div>
            <div class="this-stuff">
                <h2 class="title-section">¿Cómo controlo la obra?</h2>
            </div>
        </div>
        
        <div class="info-cont-stuff">
            <div class="firt-part">
                <div class="content-box-square">
                    <div class="cont-column-box">
                        <div class="icon-part-number">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2Qs8GMndijgA8VW41V6OgzROkqk9gwzOtuQ&s" alt="Diagnóstico">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box-number">CRONOGRAMA MAESTRO</h3>
                            <p class="text-box">Con hitos y dependencias.</p>
                        </div>
                    </div>
                </div>
                
                <div class="content-box-square">
                    <div class="cont-column-box">
                        <div class="icon-part-number">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/8068/8068070.png" alt="Curaduría">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box-number">REPORTES SEMANALES</h3>
                            <p class="text-box">(avance, fotos, pendientes).</p>
                        </div>
                    </div>
                </div>
                
                <div class="content-box-square">
                    <div class="cont-column-box">
                        <div class="icon-part-number">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNs6ZAu1R4anKm_j545O6jGuH2na4cvsJrrA&s" alt="Planificación">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box-number">CHECKLISTS DE CALIDAD</h3>
                            <p class="text-box">Por oficio.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="second-part">   
                <div class="content-box-square">
                    <div class="cont-column-box">
                        <div class="icon-part-number">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPapG0GLV0DqdPh72IAbbIiz5yoO6rZRqxTw&s" alt="Ejecución">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box-number">ACTAS DE RECEPCIÓN</h3>
                            <p class="text-box">Parcial y final.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Beneficios clave para el cliente-->
    <div class="container-bc">
        <div class="title-badge">
            <div class="line"></div>
            <div class="this-stuff">
                <h2 class="title-section">Beneficios clave para el cliente</h2>
            </div>
        </div>
        
        <div class="info-cont-stuff">
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/2082/2082114.png" alt="Sanitaria">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">TIEMPO</h3>
                            <p class="text-box">Optimización de tiempo en construcción.</p>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/310/310881.png" alt="Puertas">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">CALIDAD</h3>
                            <p class="text-box">Filtro de suplidores con calidad comprobada.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/4003/4003665.png" width="40px" height="40px" alt="Carpintería">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">SUPLIDORES</h3>
                            <p class="text-box">Suplidores puntuales al mejor precio del mercado.</p>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/1008/1008001.png" alt="Baño">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">PUNTO DE CONTACTO</h3>
                            <p class="text-box">Un solo punto de contacto (ahorro de tiempo y esfuerzo).</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://static.thenounproject.com/png/4312496-200.png" width="40px" height="40px" alt="Electricidad">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">RENTABILIDAD</h3>
                            <p class="text-box">Optimización de costos y rentabilidad segura.</p>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlM0F1HTw4nlve_ZUNQPfKzvdZw0bBTdtTgA&s" alt="Cocina">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">MENOS RIESGO</h3>
                            <p class="text-box">Menos riesgos y cumplimiento de plazos.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="firt-part">
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4HZy42vw759FxncMDTVH2QiMR2ViK_QIlow&s" width="40px" height="40px" alt="Steelframing">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">TRANSPARENCIA Y CONTROL</h3>
                            <p class="text-box">Transparencia y control.</p>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="cont-row-box">
                        <div class="icon-part">
                            <img class="icon" src="https://cdn-icons-png.flaticon.com/512/6794/6794102.png" alt="Porcelanato">
                        </div>
                        <div class="text-part">
                            <h3 class="title-box">TRANQUILIDAD TOTAL</h3>
                            <p class="text-box">Tranquilidad total.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-row">
                <!-- Company Info Column -->
                <div class="footer-col">
                    <h3>El Armador</h3>
                    <p>ARMADOR Y COORDINACIÓN INTEGRAL DE PROYECTOS DE CONSTRUCCIÓN</p>
                    <div class="social-links">
                        <a href="https://www.instagram.com/elarmador.rd/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                
                <!-- Quick Links Column -->
                <div class="footer-col">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="/">Pagina principal</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Galeria</a></li>
                        <li><a href="#">Testimonios</a></li>
                        <li><a href="#">Contactanos</a></li>
                    </ul>
                </div>
                
                
                <!-- Contact Column -->
                <div class="footer-col">
                    <h3>Contactanos</h3>
                    <div class="contact-info">
                        <div class="contact-item">
                            <i class="fas fa-phone contact-icon"></i>
                            <p>+1 (809) 258-5589</p>
                        </div>
                        <div class="contact-item">
                            <i class="fas fa-envelope contact-icon"></i>
                            <p>elarmadorrd@gmail.com</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="footer-bottom">
                <p>&copy; 2026 El Armador. All Rights Reserved.</p>
                <div class="footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Service</a>
                    <a href="#">Cookie Policy</a>
                    <a href="#">Sitemap</a>
                </div>
            </div>
        </div>
    </footer>
    
{% endblock %}